/* App General Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header Specific Styles */
/* .header_search_bar {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.header_search_bar input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding in total width */


@media (max-width: 1200px) {
  .header_search_bar {
    width: 100%;
    margin: 5px 0; /* Optional: adjust margin for smaller screens */
  }
}

@media (max-width: 992px) {
  .header_search_bar {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header_search_bar {
    width: 100%;
    flex-direction: column; /* Optional: stack elements vertically */
  }
}

@media (max-width: 576px) {
  .header_search_bar {
    width: 100%;
  }

  .right_wrap {
    padding-left: 0 !important;
  }

  .login-profile-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dropdown-menu {
    position: absolute;
    right: 0;
  }
}
